.booking{
    padding: 2rem;
    border-radius: 0.5rem;
    position: sticky;
    border: 1px solid rgb(216, 218, 223);
    top: 80px;
}

.booking__top h3{
    font-size: 2rem;
    font-weight: 700;
}

.booking__top h3 span{
    font-size: 1.1rem;
    font-weight: 400;
    color: grey;

}

.booking__top span{
    font-size: 1.1rem;
    font-weight: 600;
    color: grey;
}

.booking__top span i{
    color: #4364DB;
}

.booking__top{
    padding-top: 2rem;
    border-bottom: 1px solid rgb(216, 218, 223);
}

.booking__form{
    padding-top: 2rem;
}

.booking__form h5{
    margin-bottom: 1rem;
}

.booking__form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: grey;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(216, 218, 223);
}

.booking__form input:focus{
    outline: none;
}

.booking__info-form{
    padding: 1rem;
    border: 1px solid rgb(216, 218, 223);
}

.booking__bottom li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking__bottom li h5, .booking__bottom li span{
    font-size: 1rem;
    color: grey;
    font-weight: 500;
}

.booking__bottom{
    margin-top: 1rem;
}

.total h5, .total span{
    color: black !important;
    font-weight: 700 !important;
    font-size: 1.1rem !important;
}